<div class="homepage-panel">
    <div class="panel panel-primary">
        <div class="panel-heading uppercase">{% block project_title %}{{ project.name }}{% endblock %}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {% block project_content '' %}
                </div>
            </div>
        </div>
    </div>
</div>
