{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title uppercase">{{ 'login_activated.title'|trans|desc('Account Activated') }}</h1>
                </div>
                <div class="panel-body">
                    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                    {% if targetUrl %}
                        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
