<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modal">Update in progress</h4>
</div>
<div class="modal-body">
    <p>
        Your Capistrano tasks list will be updated in few seconds...
    </p>
    <p>
        <a href="{{ path('app_project_tasks', {'id': project.id}) }}" class="btn btn-block btn-primary">Reload page</a>
    </p>
</div>
